flows.json
[{"id":"81d27067.18999","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"73d6d5f8.fe267c","type":"function","z":"81d27067.18999","name":"PreToken","func":"global.set(\"pg\",msg.payload.pg)\nglobal.set(\"ps\",msg.payload.ps)\nglobal.set(\"pr\",msg.payload.pr)\nglobal.set(\"sk\",msg.payload.sk)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"pd\",msg.payload.pd)\nglobal.set(\"ag\",msg.payload.ag)\nvar apikey=\"kn7GpFtVlZTRlyVZZNoAC8feakqfHps8nVF3JpbMDXad\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":271.50000762939453,"y":397.0000057220459,"wires":[["a4491cab.2eaa"]]},{"id":"a4491cab.2eaa","type":"http request","z":"81d27067.18999","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":445.50000762939453,"y":397.2500057220459,"wires":[["81020e93.0c108"]]},{"id":"9fad88d8.7b5fd8","type":"debug","z":"81d27067.18999","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1119.9166221618652,"y":195.0833330154419,"wires":[]},{"id":"81020e93.0c108","type":"function","z":"81d27067.18999","name":"Pre Prediction","func":"var pg = global.get('pg')\nvar ps = global.get('ps')\nvar pr = global.get('pr')\nvar sk = global.get('sk')\nvar ts = global.get('ts')\nvar ms = global.get('ms')\nvar pd = global.get('pd')\nvar ag = global.get('ag')\nvar token=msg.payload.access_token\nvar instance_id=\"cf5a10f6-7546-4022-99c6-38ce38ac88aa\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"preg\", \" plas\", \"pres\", \"Skin \", \"test\", \"mass\", \"pedi\", \"age\"], \"values\": [[pg,ps,pr,sk,ts,ms,pd,ag]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":652.5000076293945,"y":397.7500057220459,"wires":[["374b0854.91b7c8"]]},{"id":"374b0854.91b7c8","type":"http request","z":"81d27067.18999","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/7c1c4950-05f5-4ccf-bf36-b71829030d92/predictions","tls":"","persist":false,"proxy":"","authType":"","x":847.2500152587891,"y":398.0000057220459,"wires":[["9bf9d153.15442","9fad88d8.7b5fd8"]]},{"id":"d0e90ecd.6fbd3","type":"ui_form","z":"81d27067.18999","name":"","label":"","group":"d18a4c9.61a94b","order":0,"width":0,"height":0,"options":[{"label":"Preg","value":"pg","type":"number","required":true,"rows":null},{"label":"Plas","value":"ps","type":"number","required":true,"rows":null},{"label":"Pres","value":"pr","type":"number","required":true,"rows":null},{"label":"Skin","value":"sk","type":"number","required":true,"rows":null},{"label":"Test","value":"ts","type":"number","required":true,"rows":null},{"label":"Mass","value":"ms","type":"number","required":true,"rows":null},{"label":"Pedi","value":"pd","type":"number","required":true,"rows":null},{"label":"Age","value":"ag","type":"number","required":true,"rows":null}],"formValue":{"pg":"","ps":"","pr":"","sk":"","ts":"","ms":"","pd":"","ag":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":123.75000381469727,"y":397.5000057220459,"wires":[["73d6d5f8.fe267c"]]},{"id":"e248580b.f21288","type":"ui_text","z":"81d27067.18999","group":"d18a4c9.61a94b","order":1,"width":0,"height":0,"name":"","label":"Class","format":"{{msg.payload}}","layout":"row-spread","x":944.1000518798828,"y":546.4500188827515,"wires":[]},{"id":"9bf9d153.15442","type":"function","z":"81d27067.18999","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":853.3500366210938,"y":271.3500061035156,"wires":[["e248580b.f21288"]]},{"id":"d18a4c9.61a94b","type":"ui_group","z":"","name":"Default","tab":"82f6c84e.2b30b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"82f6c84e.2b30b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]